<%= content_for :head do%>
	<title>越摄影 - 在线留言</title>
	<meta content='有任何意见和需要任何帮助请留言'>
	<%= stylesheet_link_tag 'content'%>
<% end %>
	<div class="content">
		<div class="left">
			<h2><img src="images/content/messages_title.gif" /></h2>
			<img src="images/pic/yue.jpg" />
			<img src="images/content/service.gif" />
			<img src="images/pic/ad_01.jpg" />
			<img src="images/pic/contact.jpg" />
		</div>
		<div class="right">
			<h3 class="brand_concept">越摄影在线留言</h3>
			<div class="title"><img src="images/pic/yue_message.jpg" /></div>
			<div class="main">
				<ul class="option">
					<li>您的称呼：</li>
					<li>联系电话：</li>
					<li>QQ：</li>
					<li>邮箱：</li>
					<li>地址：</li>
					<li>留言主题：</li>
					<li>内容：</li>
				</ul>
				 <% form_for @message do |f| -%>  
				<ul class="text">
				   
					   <li>   
						   <%= f.text_field :name %>   
						</li>
						<li>
						   <%= f.text_field :phone %> 
						</li> 
						   
						<li>
						   <%= f.text_field :qq %>    
						</li>
						<li>
							<%= f.text_field :email %>
						</li>
						<li>
							<%= f.text_field :address %> 
						</li> 
						<li>
							<%= f.text_field :title%>
						 </li>
						<li>
							<%= f.text_area :content %> 
						</li> 
						<li>
							
						</li>   
				</ul>  
				<div>     
				<%= f.submit '提交', :style => 'clear:both;position:absolute;top:740px;left:480px;'%>
				</div>
				<% end -%>  
			</div>
		</div>
	</div>