<div class="header">
	<embed src='http://www.ichenbo.com/music/泰勒%20斯威夫特-Love%20Story%20%20.mp3' width='0' height='0' loop="true" autostart="true">
</div>
<div class="nav">
	<ul>
		<li>   
			<%=link_to	'首页', root_path, :class =>  is_active?(:controller => 'welcome', :action => 'index')%>
	    </li>
		<li>
			<%=link_to '品牌理念', brand_path%>
		</li>
		<li>
			<%=link_to '经典作品', photos_path%>
		</li>   
		<li>
			<%=link_to '婚照套餐', weddings_path%>
		</li>     
		 <li>
			<%=link_to '艺术写真', arts_path%>
		 </li>         
		 <li>
			<%=link_to '团队介绍', team_path%>
		 </li>       
		<li>
			<%=link_to '联系我们', contact_path%>      
		</li>   
		<li>
			<%=link_to '在线留言', messages_path%>      
		</li>
	</ul>
</div>