<div class="header"></div>
<div class="nav" style="min-width:1302px;">
	<ul>
		<li>   
			<%=link_to	'首页', root_path%>
	    </li>
		<li>
			<%=link_to '品牌理念', brand_path%>
		</li>
		<li>
			<%=link_to '经典作品', photos_path%>
		</li>   
		<li>
			<%=link_to '婚照套餐', weddings_path%>
		</li>     
		 <li>
			<%=link_to '艺术写真', arts_path%>
		 </li>         
		 <li>
			<%=link_to '团队介绍', team_path%>
		 </li>       
		<li>
			<%=link_to '联系我们', contact_path%>      
		</li>   
		<li>
			<%=link_to '在线留言', messages_path%>      
		</li>
		<li class="span"><a>
			<%=image_tag 'sc.gif'%>
		 </li>
	</ul>
</div>