<ul class="breadcrumb">
<li>
	<%= link_to "首页", admin_path %>
	<span class="divider">/</span>
</li>
<li>
	<%= link_to "相册", admin_albums_path%>
	<span class="divider">/</span>
</li>
<li>
	<%= link_to @album.name, @album%>
	<span class="divider">/</span>
</li>
<li class='active'>
	<%= link_to "修改信息", '#'%>
</li>
</ul>
<%= render :partial => 'form'%>