<%= content_for :head do %>
	<%= stylesheet_link_tag 'digg.pagination' %>
<% end -%>

<ul class="breadcrumb">
<li>
	<%= link_to "首页", admin_path %>
	<span class="divider">/</span>
</li>
<li class='active'>
	<%= link_to "照片", '#'%>
</li>
</ul>

<div class="btn-group">
	<%= link_to '上传照片', no_album_new_admin_photo_path, :class => 'btn' %>
</div>
<div class='row'>
<div class='span12'>
<%= will_paginate @photos,  :class=> 'digg_pagination',:previous_label => '上一页',:next_label => '下一页'%>
</div>

<ul class="thumbnails">
	<% @photos.each do |p|%>
  <li class="span3">
  	<%= link_to admin_photo_path(p) do %>
      <%= image_tag p.id2relative_path%>
    <% end -%>
  </li>
  <% end -%>
</ul>

<div class='span12'>

<%= will_paginate @photos,  :class=> 'digg_pagination',:previous_label => '上一页',:next_label => '下一页'%>
</div>
</div>



