<%= content_for :head do %>
	<%= stylesheet_link_tag 'digg.pagination' %>
	<%= javascript_include_tag 'jquery-1.3.2' %>
	<%= javascript_include_tag 'jquery.masonry.min' %>
	<script type="text/javascript">
		$(function  () {
			var $waterfall = $('#waterfall');
			$waterfall.imagesLoaded(function () {
			    $waterfall.masonry({
			      itemSelector: '.item'
			    })
			});
		})
	</script>
<% end -%>

<ul class="breadcrumb">
<li>
	<%= link_to "首页", admin_path %>
	<span class="divider">/</span>
</li>
<li class='active'>
	<%= link_to "照片", '#'%>
</li>
</ul>
<div class='container' style='margin: 7px 0 20px 0'>
	<div class="btn-group">
		<%= link_to '上传照片', no_album_new_admin_photo_path, :class => 'btn' %>
	</div>
		<%= will_paginate @photos,  :class=> 'digg_pagination',:previous_label => '上一页',:next_label => '下一页'%>
</div>

<ul id='waterfall' class="thumbnails">
	<% @photos.each do |p|%>
  <li class="span3 item">
  	<%= link_to admin_photo_path(p) do %>
      <%= image_tag p.id2relative_path%>
    <% end -%>
  </li>
  <% end -%>
</ul>

<div class='container'>
<%= will_paginate @photos,  :class=> 'digg_pagination',:previous_label => '上一页',:next_label => '下一页'%>
</div>
</div>



