<ul class="breadcrumb">
	<li>
		<%= link_to "首页", admin_path %>
		<span class="divider">/</span>
	</li>
	<li>
		<%= link_to "照片", admin_photos_path%>
		<span class="divider">/</span>
	</li>
	<li class='active'>
		<%= link_to "上传新照片", '#'%>
	</li>
</ul>
<div class='page-header'>
  <h1>上传到照片库</h1>
</div>
<%= form_for(@photo, :url => admin_photos_path, :html => {:class => 'form-horizontal',:multipart => true}) do |f| %>
  <fieldset>
  <legend>新照片</legend>
    <div class="control-group">
      <label class="control-label" for="input01">文件</label>
      <div class="controls">
        <%= file_field_tag :file, :class => 'input-xlarge'%>
      </div>
    </div>
    <div class='form-actions'>
      <button class='btn btn-primary' type='submit'>保存</button>
    </div>
  </fieldset>
</form>
<% end -%>

