   <%= content_for :head do %>
   <title>越摄影</title>
   <meta content='云南大理第一高端婚纱摄影工作室' name='description'>
   <link rel="stylesheet" href="stylesheets/pic.css" type="text/css" />
   <script src="javascripts/jquery-zzjs.js" type=text/javascript></script>
   <script src="javascripts/imgPlay.js" type=text/javascript></script>
   <script type="text/javascript" src="javascripts/jquery.history.js"></script>
   <script type="text/javascript" src="javascripts/jquery.galleriffic.js"></script>
   <script type="text/javascript" src="javascripts/jquery.opacityrollover.js"></script>
   	<script type="text/javascript" src="javascripts/pic.js"></script> 

	<% end %>
	
	<div class="content">
		<div class="banner">
			<DIV id='imgPlay'>
				<ul class='imgs' id='actor'>
					<% (1..9).each do |i| %>
						<li>
							<a>
								<%= image_tag "ui/index/#{i}.jpg" %>
							</a>
						</li>
					<% end -%>
  				</ul>
			</DIV>
		</div>
				<div class="works">
		        	<div><img src="images/content/yue_works_top.gif" style='display:block'/></div>
					<ul>
						<% @albums.each do |album| %>
							<li>
								<%= link_to photos_path(:album_id => album.id) do %>
									<%= image_tag album.get_cover%>
									<span>
										<%= album.name.truncate(18)%>
									</span>
									<% end -%>
								</li>
						<% end -%>
		            </ul>
		            <div><img src="images/content/yue_works_bottom.gif" style='display:block'/></div>
				</div>
		</div>