   <%= content_for :head do %>
   <link rel="stylesheet" href="stylesheets/pic.css" type="text/css" />
   <script src="javascripts/jquery-zzjs.js" type=text/javascript></script>
   <script src="javascripts/imgPlay.js" type=text/javascript></script>
   <script type="text/javascript" src="javascripts/jquery.history.js"></script>
   <script type="text/javascript" src="javascripts/jquery.galleriffic.js"></script>
   <script type="text/javascript" src="javascripts/jquery.opacityrollover.js"></script>
   	<script type="text/javascript" src="javascripts/pic.js"></script> 

	<% end %>

	<div class="content">
		<div class="banner">
			<DIV id=imgPlay>
				<UL class=imgs id=actor>
  					<LI><A><IMG src="images/banner/yue_1.jpg"></A></LI>
  					<LI><A><IMG src="images/banner/yue_2.jpg"></A></LI>
  					<LI><A><IMG src="images/banner/yue_3.jpg"></A></LI>
  					<LI><A><IMG src="images/banner/yue_4.jpg"></A></LI>
  					<LI><A><IMG src="images/banner/yue_5.jpg"></A></LI>
  					<LI><A><IMG src="images/banner/yue_6.jpg"></A></LI>
  				</UL>
			</DIV>
		</div>
		<div class="works">
			<div id="page">
			<div id="container">

				<!-- Start Advanced Gallery Html Containers -->
				<div id="gallery" class="pic">
					<div id="controls" class="controls"></div>
					<div class="slideshow-container">
						<div id="loading" class="loader"></div>
						<div id="slideshow" class="slideshow" style='overflow: hidden'></div>
						<div id="caption" class="caption-container"></div>
					</div>
					<div id="captionToggle">
						<a href="#toggleCaption" class="off" title="Show Caption">Show Caption</a>
					</div>
				</div>
				<div id="thumbs" class="navigation">
					<ul class="thumbs noscript"> 
						<% @photos.each_with_index	do |p, index| %>          
						 <li>
							<a class="thumb" name="<%=index%>" href="<%= p.id2relative_path%>" title="Title #<%= index%>"> 
								<%= image_tag p.id2relative_path%>   
							</a>
							<div class="caption">
								<div class="image-title">Title #<%= index%></div>
								<div class="image-desc">Description</div>
							</div>
						</li> 
					    <% end %>     
						
					</ul>
				</div>
				<!-- End Advanced Gallery Html Containers -->

				<div style="clear: both;"></div>
			</div>
		</div>
		</div>
	</div>