<%= content_for :head do%>
	<%= stylesheet_link_tag 'content'%>
<% end %>		
<div class="content">
		<div class="left">
			<h2><img src="images/content/art_title.gif" /></h2>
			<ul> 
				<% @productions.each do |p| %>
				  <li>                 
					<%= link_to p.name, arts_path(:production_id => p.id) %>
				  </li>
				<% end %>   
			</ul>
			<img src="images/content/service.gif" />
			<img src="images/pic/ad_01.jpg" />
			<img src="images/pic/contact.jpg" />
		</div>
		<div class="right">
			<% if  @production %>
			<h3><%= @production.name%></h3>
			<div class="example">
				<span><img src="images/banner/pic_01.jpg" /></span>
				<span><img src="images/banner/pic_02.jpg" /></span>
				<span><img src="images/banner/pic_03.jpg" /></span>
				<span><img src="images/banner/pic_04.jpg" /></span>
			</div>
			<div class="main">
				<img src="images/content/introduction.gif" />
				<ul>
					<h4>拍摄服装：</h4>
					<li><%= @production.clothing%></li>
				</ul>
				<ul>
					<h4>化妆造型：</h4>
					<li><%= @production.makeup%></li>
				</ul>
				<ul>
					<h4>拍摄场景：</h4>
					<li><%= @production.place%></li>
				</ul>
				<ul>
					<h4>拍摄时间：</h4>
					<li><%= @production.time%></li>
				</ul>
				<ul>
					<h4>特色服务：</h4>
					<li><%= @production.service%></li>
				</ul>
				<ul>
					<h4>所拍照片：</h4>
					<li><%= @production.photos%></li>
				</ul>
				<ul>
					<h4>产品赠送：</h4>
					<li>
						<%= @production.gift%>
					</li>
				</ul>
				<ul>
					<h4 class="tips">温馨提示：</h4>
					<li><%= @production.tip%></li>
				</ul> 
				<% end %>
			</div>
		</div>
</div>