<%= content_for :head do%>
	<title>越摄影 - 婚纱套餐</title>
	<meta content='工作室是独具特色风格并且以外景拍摄为主，室内创新为一体的工作室，我们拥有着一群勇于创新的实力团队，拍摄风格自然而独具特色，我们不再是让您来配合我们拍摄，而是我们配合您来拍摄，为顾客实现价值，拍出真正属于您的独一无二的完美婚纱。'>
	<%= stylesheet_link_tag 'content'%>
<% end %>	
	<embed src='http://www.ichenbo.com/music/泰勒%20斯威夫特-Love%20Story%20%20.mp3' width='0' height='0' loop="true" autostart="true">
	<div class="content">
		<div class="left">
			<h2><img src="images/content/wedding_title.gif" /></h2>
			<ul>
				 <% @productions.each do |p| %>
					  <li>                 
						<%= link_to p.name.truncate(11), weddings_path(:production_id => p.id) %>
					  </li>
				 <% end %>
			</ul>
			<img src="images/content/service.gif" />
			<img src="images/pic/ad_01.jpg" />
			<img src="images/pic/contact.jpg" />
		</div>
		<div class="right"> 
			<% if  @production %>
			<h3 class=''><%= @production.name%></h3>
			<div class="example">
				<span><img src="images/banner/pic_01.jpg" /></span>
				<span><img src="images/banner/pic_02.jpg" /></span>
				<span><img src="images/banner/pic_03.jpg" /></span>
				<span><img src="images/banner/pic_04.jpg" /></span>
			</div>
			<div class="main">
				<img src="images/content/introduction.gif" />
				<div>
					<h4>拍摄服装：</h4>
					<ul>
						<li><%= @production.clothing%></li>
					</ul>
				</div>
				<div>
					<h4>化妆造型：</h4>
					<ul>
						<li><%= @production.makeup%></li>
					</ul>
				</div>
				
				<div>
					<h4>拍摄场景：</h4>
					<ul>
						<li><%= @production.place%></li>
					</ul>
				</div>

				<div>
					<h4>拍摄时间：</h4>
					<ul>
						<li><%= @production.time%></li>
					</ul>
				</div>
				
				<div>
					<h4>特色服务：</h4>
					<ul>
						<li><%= @production.service%></li>
					</ul>
				</div>
				
				<div>
					<h4>所拍照片：</h4>
					<ul>
						<li><%= @production.photos%></li>
					</ul>
				</div>
				
				<div>
					<h4>产品赠送：</h4>
					<ul>
						<% @production.gift.strip.split(' ').each do |item|%>
							<li>
								<%= item %>
							</li>
						<% end -%>
					</ul>
				</div>
				
				<div>
					<h4 class="tips">温馨提示：</h4>
					<ul>
						<li><%= @production.tip%></li>
					</ul> 
				</div>
				
			</div>
			<% end %>
		</div>
	</div>