<%= content_for :head do %>
	<%#= javascript_include_tag 'jquery.photo' %>
	<%= stylesheet_link_tag 'digg.pagination' %>
	<%= stylesheet_link_tag 'jquery.lightbox-0.5', :media => "screen" %>
	<%= javascript_include_tag 'jquery.lightbox-0.5.min' %>
	<script type="text/javascript">
		$(function () {
			$('a.lightbox').lightBox();
		})
	</script>
<% end -%>
<div class="content">
		<div class="left">
			<h2><img src="images/content/classics.gif" /></h2>
			<ul>
				<% @albums.each do |album| %>
					<li>
						<%= link_to album.name, photos_path(:album_id => album.id) %>
					</li>
				<% end -%>

			</ul>
			<img src="images/content/service.gif" />
			<img src="images/pic/ad_01.jpg" />
			<img src="images/pic/contact.jpg" />
		</div>
		<div class="right">
			<h3> <%= @album ? @album.name : '' %> </h3>
			<div class="work">
				<ul>     
					<% @photos.each do |p|%>
						<li><a class='lightbox' href='<%= p.id2relative_path%>' style='overflow:hidden;display:block'><img src="<%= p.id2thumb_relative_path%>" /></a></li> 
					<% end %>  
				</ul>
			
			</div>
				<%= will_paginate @photos, :class=> 'digg_pagination', :previous_label => '上一页',:next_label => '下一页'%>
		</div>
	</div>