<!DOCTYPE html>
<html>
<head>
  <title>Photography</title>
  <%= stylesheet_link_tag 'frame'%>
  <%= csrf_meta_tag %> 
  <%= yield :head%>
   
</head>
<body>
   	<div id="wrap">
		<%=render :partial => 'share/header'%>
		<%= yield %>
	</div>
</body>
</html>
