<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag 'frame'%>
  <%= stylesheet_link_tag 'content'%>
  <%= csrf_meta_tag %> 
  <%= javascript_include_tag 'jquery-1.3.2'%>

  <%= yield :head%>

</head>
<body>
   	<div id="wrap">
		<%=render :partial => 'share/header'%>
		<%= yield %>
		<%=render :partial => 'share/footer'%>
	</div>
</body>
</html>
